@import "/styles/modules/variables"

.cartContainer
    max-width: 640px
    display: flex
    flex-direction: column
    @media (max-width: 576px)
        max-width: 320px
.cartHeader
    display: flex
    justify-content: space-between
    margin-bottom: 24px
.cartTitle
    font-family: 'Alegreya', sans-serif
    font-size: 32px
    line-height: 1.25
    margin: 0
.closeBtn
    @include reset-button-styles
    transition: $transition-opacity
    &:hover
        opacity: 0.7

.cartBody
    max-height: 340px
    overflow-y: auto
    @media (max-width: 576px)
        max-height: 164px
.cartItems
.totalPrice
    display: flex
    align-items: center
    justify-content: flex-end
    margin-top: 22px
    margin-right: 32px
    @media (max-width: 576px)
        justify-content: flex-start
        margin-right: 0
        margin-bottom: 30px

.sumHeading
    font-family: 'Alegreya', sans-serif
    font-size: 18px
    line-height: 1.25
    margin-right: 21px
.sumCurrency
    font-family: 'Alegreya', sans-serif
    font-size: 18px
    line-height: 1.25
    margin-left: 5px
.sumTotal
    display: flex
    align-items: center
    font-family: 'Alegreya', sans-serif
    font-size: 32px
    line-height: 1.25
    @media (max-width: 576px)
        font-size: 24px