.imageContainer
  width: 240px
  height: 240px
  display: flex
  position: relative
  border-radius: 3.7px
  margin: 0 auto
  @media (max-width: 1199px)
    width: 220px
    height: 220px
  @media (max-width: 767px)
    width: 100px
    height: 100px
.imageBox
  width: 100%
  @media (max-width: 576px)
    width: auto
.icons
  display: flex
  flex-direction: column
  transition: opacity .3s ease-in-out
  opacity: 1
  position: absolute
  @media (max-width: 767px)
    width: auto
    height: auto
    gap: 5px
  .icon
    width: 24px
    height: 24px
    &:nth-child(2)
      margin-top: 10px
    @media (max-width: 767px)
      width: 16px
      height: 16px
    @media (max-width: 576px)
      width: 12px
      height: 12px
.hover
  opacity: 1
.pizzaBorder
  position: absolute
  width: 200px
  height: 200px
  transform: translate(-50%, -50%)
  left: 50%
  top: 50%
  @media (max-width: 1199px)
    width: 183px
    height: 183px
  @media (max-width: 767px)
    width: 83px
    height: 83px

.sizePizza
  position: absolute
  transform: translate(-50%, -50%)
  left: 50%
  top: 50%
  transition: $transition-pizza
.sizePizzaS
  width: 68%
.sizePizzaM
  width: 82%
.sizePizzaL
  width: 100%