@import "/styles/modules/variables"
.container
.pizzaTitle
  font-family: 'Alegreya', sans-serif
  font-size: 52px
  line-height: 1.25
  margin: 0
  margin-bottom: 55px
  text-align: center
  @media (max-width: 991px)
    font-size: 40px
    margin-bottom: 40px
  @media (max-width: 776px)
    font-size: 28px
    margin-bottom: 24px
.pizzaListNone
  display: flex
  padding: 0 20px
  font-family: 'Alegreya', sans-serif
  font-size: 32px
  line-height: 1.25
  margin: 0
.pizzaList
  display: grid
  grid-column-gap: 32px
  grid-row-gap: 32px
  grid-template-columns: repeat(auto-fill, minmax(min(304px, 100%), 1fr))
  margin-bottom: 100px
  @media (max-width: 991px)
    margin-bottom: 80px
  @media (max-width: 767px)
    grid-template-columns: repeat(auto-fill, minmax(min(288px, 100%), 1fr))
    margin-bottom: 60px
    grid-row-gap: 20px

