@import "/styles/modules/variables"
@import "/styles/modules/mixins"

.headerLang
    display: block
    font-family: 'Alegreya', sans-serif
    padding: 13px 11px
    background-color: $color-gray
    border-radius: 40px
    cursor: pointer
    margin-left: 28px
    span
        font-size: 18px
        line-height: 1.2
        letter-spacing: 1px
        text-transform: uppercase
        color: $color-black
        transition: color .3s ease-in-out
    &:hover
        span
            color: $color-orange
    @media (max-width: 767px)
        display: none

.headerLangNone
    display: none