@import "/styles/modules/variables"
.authenticityList
    max-width: 874px
    margin: 0 auto

.authenticityItem
    position: relative
    display: flex
    align-items: center
    max-width: 757px
    margin-bottom: 30px
    &:nth-child(2)
        width: 100%
        max-width: 100%
        justify-content: flex-end
        .authenticityContent
            margin-left: 0
            margin-right: 27px
        .authenticityImg
            position: relative
            width: 314px
            height: 314px
            order: 2
        &:last-child
            margin-bottom: 0

.authenticityItemChild
    max-width: 757px
    display: flex
    align-items: center


.authenticityImg
    position: relative
    width: 314px
    height: 314px
    img
        width: 100%
        border-radius: 43%


.authenticityContent
    display: flex
    flex-direction: column
    margin-left: 27px
    max-width: 416px

.authenticityTitle
    font-family: 'Alegreya-ExtraBold', sans-serif
    font-size: 32px
    line-height: 1.25
    margin-bottom: 12px

.authenticityDescription
    font-family: 'Roboto', sans-serif
    font-size: 14px
    line-height: 1.5


@media (max-width: 1199px)
    .authenticityList
        padding: 0 27px
    .authenticityItem
        display: flex
        align-items: center
        max-width: 658px
        margin-bottom: 12px
        .authenticityItemChild
            max-width: 658px
        &:nth-child(2)
            max-width: 100%
            .authenticityImg
                width: 251px
                height: 251px

    .authenticityImg
        width: 251px
        height: 251px

    .authenticityContent
        max-width: 370px
    .authenticityTitle
        font-size: 24px
@media (max-width: 767px)
    .authenticityList
        padding: 0 16px
    .authenticityItem
        align-items: flex-start
        justify-content: center
        margin-bottom: 20px
        .authenticityItemChild
            align-items: flex-start
        &:nth-child(2)
            max-width: 100%
            justify-content: flex-start
            .authenticityContent
                margin-left: 16px
                margin-right: 0
            .authenticityImg
                width: 80px
                height: 80px
                order: 1
                img
                    width: 80px
                    max-width: 80px
                    height: 80px
    .authenticityImg
        width: 80px
        height: 80px
        order: 1
        img
            width: 80px
            max-width: 80px
            height: 80px
    .authenticityContent
        max-width: 100%
        order: 2
        margin-left: 16px
    .authenticityTitle
        font-size: 20px
        margin-bottom: 4px
    .authenticityDescription
        font-size: 12px