@import "/styles/modules/variables"
.container
.authenticity
  margin-top: 100px
  margin-bottom: 112px

@media (max-width: 1199px)
  .authenticity
    margin-top: 80px
    margin-bottom: 80px

@media (max-width: 767px)
  .authenticity
    margin-top: 20px
    margin-bottom: 60px