@font-face
  font-family: 'Alegreya-Regular'
  src: url('Alegreya-Regular.woff2') format('woff2'), url('Alegreya-Regular.woff') format('woff')
  font-weight: 1
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Alegreya-Bold'
  src: url('Alegreya-Bold.woff2') format('woff2'), url('Alegreya-Bold.woff') format('woff')
  font-weight: 700
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Alegreya-ExtraBold'
  src: url('Alegreya-ExtraBold.woff2') format('woff2'), url('Alegreya-ExtraBold.woff') format('woff')
  font-weight: 800
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Alegreya'
  src: url('Alegreya-Black.woff2') format('woff2'), url('Alegreya-Black.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: url('Roboto.woff2') format('woff2'), url('Roboto.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap
