.imgContainer
    width: 100px
    height: 100px
    position: relative
.icon
    position: absolute
    display: block
    flex-direction: column
    top: 4px
    left: 4px
    width: 20px
    height: auto
.pizzaBorder
    width: 84px
    height: 84px
    transform: translate(-50%, -50%)
    position: absolute
    left: 50%
    top: 50%
.pizza
    position: absolute
    transform: translate(-50%, -50%)
    left: 50%
    top: 50%
.sizeS
    width: 65px
    height: 65px
.sizeM
    width: 77px
    height: 77px
.sizeL
    width: 89px
    height: 89px
