@import "/styles/modules/variables"
.discounts
  margin-top: 94px
  margin-bottom: 112px
  @media (max-width: 1199px)
    margin-bottom: 80px
    margin-top: 60px
  @media (max-width: 576px)
    margin-bottom: 60px
.container
.swiper
  :global(.swiper-pagination-bullet)
    width: 12px
    height: 12px
    background-color: $color-gray-pagination
  :global(.swiper-pagination-bullet-active)
    background-color: $color-orange
  :global(.swiper-pagination)
    position: relative
    display: flex
    justify-content: center
    bottom: 0
    top: 0

