@import "/styles/modules/variables"

.pizzaTastes
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 40px
  @media (max-width: 776px)
    margin-bottom: 20px

.pizzaTaste
  cursor: pointer
  display: flex
  flex-direction: column
  position: relative
  z-index: 1
  margin-right: 40px
  border: none
  background-color: transparent
  &:last-child
    margin-right: 0
  @media (max-width: 776px)
    margin-right: 28px


.pizzaBlock
  align-items: center
  display: flex
  flex-direction: column
  position: relative
  &:hover .pizzaIcon
    transform: translateY(-100%)
    opacity: 1
  @media (max-width: 767px)
    &:hover .pizzaIcon
      transform: none

.pizzaHeading
  font-family: "Alegreya",sans-serif
  font-size: 18px
  line-height: 1.25
  letter-spacing: 1px
  text-transform: uppercase
  transition: color .3s ease-in-out
  margin: 0
  @media (max-width: 767px)
    display: none
  &:hover
    color: $color-orange
.pizzaTitle
.pizzaIcon
  width: 24px
  height: auto
  position: absolute
  top: -13px
  transition: transform .3s ease-in-out, opacity .3s ease-in-out
  opacity: 0
  z-index: -10
  @media (max-width: 767px)
    position: relative
    z-index: 10
    opacity: 1
    &:hover
      fill: $color-orange
      transition: fill .3s ease-in-out

