@import "/styles/modules/variables"
@import "/styles/modules/mixins"

.header
  width: 100%
  position: fixed
  background-color: $color-white
  top: 0
  left: 0
  z-index: 2
.headerContainer
  max-width: 1352px
  padding: 46px 20px
  display: flex
  align-items: center
  justify-content: space-between
  margin: 0 auto
  @media (max-width: 1199px)
    padding: 32px 31px
  @media (max-width: 767px)
    max-width: 767px
    padding: 12px 16px 20px

.headerContent
  display: flex
  align-items: center
  justify-content: space-between

.logo
  display: block
  width: 100%
  svg
    width: 182px
    height: 84px
    transition: opacity .3s ease-in-out, width .3s ease-in-out, height .3s ease-in-out
    &:hover
      opacity: .7
  @media (max-width: 1399px)
    svg
      width: 131px
      height: 61px
  @media (max-width: 767px)
    svg
      width: 85px
      height: 40px

.menu
  font-family: 'Alegreya', sans-serif
  @include mobile
    max-width: 767px

.list
  display: flex
  align-items: center

.item
  padding: 0
  display: inline-block
  margin-right: 60px
  &:last-child
    margin-right: 0
  @media (max-width: 1399px)
    margin-right: 30px

.link
  font-size: 18px
  line-height: 1.2
  letter-spacing: 1px
  text-transform: uppercase
  color: $color-black
  transition: color .3s ease-in-out
  @media (max-width: 1399px)
    font-size: 16px
  &:hover
    color: $color-orange

.informationMob
  display: none

@media (max-width: 1199px)
  .menu
    order: 4
  .icon
    z-index: 5
    display: block
    position: relative
    width: 40px
    height: 40px
    cursor: pointer
    margin-left: 32px
  .icon span, .icon::before, .icon::after
    left: 8px
    position: absolute
    height: 3px
    width: 24px
    border-radius: 40px
    display: inline-block
    background-color: $color-black
  .icon span
    transition: transform .3s ease-in-out, background-color .3s ease-in-out

  .icon::before
    transition: transform .3s ease-in-out, background-color .3s ease-in-out, top .3s ease-in-out

  .icon::after
    transition: transform .3s ease-in-out, background-color .3s ease-in-out, width .3s ease-in-out, bottom .3s ease-in-out

  .icon::before
    content: ""
    top: 10px
  .icon::after
    content: ""
    bottom: 10px
    width: 19px
  .icon span
    top: 50%
    transform: scale(1) translate(0px, -50%)
  .body
    position: fixed
    top: 0
    width: 320px
    height: 100%
    background-color: $color-menu-mobile
    transition: right 0.3s ease-in-out
    right: -110%
    overflow: auto
    z-index: 3
    display: flex
    justify-content: space-between
    flex-direction: column
    align-items: center
    .body::before
      content: ""
      position: fixed
      width: 100%
      top: 0
      left: 0
      height: 70px
      z-index: 2
    .list
      padding: 120px 0 0
      align-items: flex-start
      flex-direction: column
      width: 200px

    .item
      margin-right: 0
      margin-bottom: 0
      padding: 24px 0
      width: 100%
      display: flex
      justify-content: center
      border-bottom: 1px solid #1D2228
    .item:first-child
      padding-top: 0
    .item:last-child
      padding-bottom: 0
      border-bottom: none
    .link
      font-family: 'Alegreya-Bold', sans-serif
      font-size: 18px
      color: $color-white
      text-align: center
      letter-spacing: 1px
    .link:hover
      color: $color-orange
    .body.open
      right: 0
    .icon.open
      left: 0
    .icon.open span
      transform: scale(0) translate(0px, -50%)
      background-color: $color-white
    .icon.open span::before
      top: 50%
      transform: rotate(-45deg) translate(0px, -50%)
      background-color: $color-white
    .icon.open span::after
      bottom: 47%
      transform: rotate(45deg) translate(0px, 50%)
      background-color: $color-white
      width: 24px
    .informationMob
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      margin-bottom: 40px
    .informationMob p
      font-family: 'Roboto', sans-serif
      font-size: 12px
      font-weight: 700
      line-height: 1.5
      letter-spacing: 1px
      text-transform: uppercase
      color: $color-menu-mobile-gray
      margin: 0
    .contactsTitle
      display: block
      font-family: 'Alegreya', sans-serif
      font-size: 24px
      line-height: 1.25
      text-transform: uppercase
      color: $color-white
      transition: color .3s ease-in-out
    .contactsTitle:hover
      color: $color-orange
    .contactsDescription
      font-family: 'Roboto', sans-serif
      font-size: 12px
      line-height: 1.5
      color: $color-menu-mobile-gray
      text-align: center
    .menuLang
      display: none

@media (max-width: 767px)
  .menu .icon
    margin-left: 20px

@media (max-width: 576px)
  .body
    width: 100%
  .list
    padding: 132px 0 0

  .menu .informationMob
    margin-bottom: 40px

  .menu .infoContacts
    margin-bottom: 40px

  .menuLang
    display: block
    a
      text-align: center
      font-family: 'Alegreya-Bold', sans-serif
      font-size: 12px
      line-height: normal
      letter-spacing: 0.5
      text-transform: uppercase
      color: $color-white
      transition: color .3s ease-in-out
    &:hover
      a
        color: $color-orange

.information
  display: flex
  margin-left: 60px
  align-items: center

.clientInfo
  margin-right: 62px
.clientInfo:last-child
  margin-right: 0
.clientInfo .clientInfoImg
  position: relative
  width: 40px
  height: 40px
  margin-right: 12px
  @media (max-width: 1399px)
    margin-right: 10px
  @media (max-width: 767px)
    width: 32px
    height: 32px
    margin-right: 0
.clientInfoImg img
  width: 100%
  height: auto

.clientInfoBox
  display: flex
  align-items: flex-end
  cursor: pointer
.clientInfoBox:hover .clientInfoTitle
  color: $color-orange

.clientInfoContent
  font-family: 'Alegreya', sans-serif
.clientInfoTitle
  display: block
  color: $color-black
  font-size: 18px
  line-height: 1.2
  letter-spacing: 1px
  text-transform: uppercase
  transition: color .3s ease-in-out

.clientInfoDescription
  font-family: 'Roboto', sans-serif
  font-size: 12px
  font-size: 12px
  line-height: 1.2
  letter-spacing: 1px
  color: $color-gray-text

.orderCount
  position: absolute
  top: -10px
  left: 30px
  font-family: 'Roboto', sans-serif
  font-size: 11px
  color: $color-white
  width: 20px
  height: 20px
  background-color: $color-orange
  border-radius: 40px
  display: flex
  align-items: center
  justify-content: center

@media (max-width: 1399px)
  .information
    margin-left: 30px
  .clientInfo
    margin-right: 32px
  .clientInfo:last-child
    margin-right: 0
  .clientInfoTitle
    font-size: 16px
  .clientInfoImg
    width: 35px
    height: 35px
    margin-right: 10px
  .orderCount
    left: 24px
@media (max-width: 1199px)
  .information
    margin-left: 0
  .clientInfo
    margin-right: 32px
  .clientInfo:last-child
    margin-right: 0
  .clientInfoContent
    display: none
  .clientInfoImg
    width: 40px
    height: 40px
    margin-right: 0
  .orderCount
    left: 30px
@media (max-width: 767px)
  .clientInfo
    margin-right: 24px
  .clientInfo:nth-child(2)
    margin-right: 0
  .clientInfoImg
    width: 32px
    height: 32px
  .orderCount
    top: -9px
    left: 22px

.icon.open
  left: 0
  span
    transform: scale(0) translate(0px, -50%)
    background-color: $color-white
  &::before
    top: 50%
    transform: rotate(-45deg) translate(0px, -50%)
    background-color: $color-white
  &::after
    bottom: 47%
    transform: rotate(45deg) translate(0px, 50%)
    background-color: $color-white
    width: 24px
.body.open
  right: 0

.headerScroll
  background-color: $color-white
  box-shadow: 0px 2px 5px 0px rgba(165,169,176,.3)
  transition: background-color .3s ease-in-out,box-shadow .3s ease-in-out
  .headerContainer
    padding: 14px 20px 15px
  .headerLogo
    width: 69px
    height: 32px
    svg
      width: 69px
      height: 32px
  .link
    font-family: "Alegreya-Bold",sans-serif
    font-size: 16px
  .item
    margin-right: 61px
  .clientInfoImg
    width: 32px
    height: 32px
  .clientInfoContent
    font-family: 'Alegreya-Bold', sans-serif
  .clientInfoTitle
    font-size: 18px
  .orderCount
    left: 23px
  .headerLang
    display: none
  .clientInfo
    margin-right: 62px
  .item
    &:last-child
      margin-right: 0
  @media (max-width: 1199px)
    .headerContainer
      padding: 12px 16px
    .clientInfo
      margin-right: 24px
    .clientInfo:nth-child(2)
        margin-right: 0


