@import "/styles/modules/variables"
@import "/styles/modules/mixins"
.product
  position: relative
  background-color: $color-white
  max-width: 2400px
  width: 100%
  padding: 0
  margin: 0 auto
.productContent
  max-width: 504px
  padding: 0 20px

.productImg
  max-width: 1007px

  img
    display: block
    width: 100%
    height: auto

.productBoxImg
  display: flex
  justify-content: flex-end
  overflow: hidden

.productTitle
  font-family: 'Alegreya', sans-serif
  font-size: 72px
  line-height: 1.25
  letter-spacing: 1px
  margin: 0
  margin-bottom: 12px
  font-weight: 900
  display: inline-block

.productDescription
  font-family: 'Roboto', sans-serif
  font-size: 24px
  line-height: 1.5
  margin: 0
  margin-bottom: 32px

.productBtn
  padding: 18px 70px
  font-family: 'Alegreya', sans-serif
  font-size: 18px
  text-align: center
  z-index: 1
  +btn

.containerProduct
  max-width: 1352px
  position: absolute
  width: 100%
  margin: 0 auto
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  padding: 0

.productBtn::before
  +btn-before
.productBtn:hover::before
  transform: scaleY(1)

@media (max-width: 1600px)
  .productImg
    max-width: 907px

@media (max-width: 1399px)
  .productImg
    max-width: 707px
  .productContent
    max-width: 400px
  .productTitle
    font-size: 40px
    margin-bottom: 12px
  .productDescription
    font-size: 18px
    margin-bottom: 24px
  .productBtn
    padding: 18px 62px
@media (max-width: 1199px)
  .productContent
    max-width: 370px
    padding: 31px
  .productImg
    max-width: 503px
    overflow-x: hidden
    margin-right: -71px
  .productTitle
    font-size: 52px
    margin-bottom: 12px
  .productDescription
    font-size: 18px
    margin-bottom: 24px
  .productBtn
    a
      border-radius: 8px
  .containerProduct
    padding: 0 !important
@media (max-width: 767px)
  .containerProduct
    position: static
    width: 100%
    transform: translate(0, 0)
    padding: 0 !important
  .productImg
    max-width: 503px
    margin-right: 0
  .productBoxImg
    margin-bottom: 30px
  .productContent
    padding: 0 16px
    max-width: 100%
@media (max-width: 576px)
  .containerProduct
    position: static
    width: 100%
    transform: translate(0, 0)

  .productImg
    max-width: 503px
    margin-right: 0
  .productContent
    padding: 0 16px
    max-width: 100%
  .productTitle
    font-size: 40px
    margin-bottom: 8px
  .productDescription
    font-size: 16px
    margin-bottom: 16px
  .productBtn
    padding: 14px 0
    width: 100%
