@import "/styles/modules/variables"
@import "/public/fonts/fonts"

.wrapper
  background-color: $color-white
  width: 100%
  min-height: 100%
  display: flex
  flex-direction: column
  box-sizing: border-box

.wrapper.smoothed
  transition: padding-top .3s ease
