@import "/styles/modules/variables"
.spippingPaymentList
    display: grid
    grid-column-gap: 32px
    grid-template-columns: repeat(3, 1fr)

.spippingPaymentItem
    display: flex
    align-items: center
    padding: 32px 24px
    background-color: $color-white
    box-shadow: 0px 2px 5px 0px rgba(199, 193, 168, 0.3)
    border-radius: 5px

.spippingPaymentImg
    position: relative
    width: 80px
    height: 80px
    img
        width: 80px
        height: 80px
        max-width: 80px
.spippingPaymentContent
    margin-left: 24px
.spippingPaymentTitle
    font-family: 'Alegreya-ExtraBold', sans-serif
    font-size: 24px
    line-height: 1.25
    letter-spacing: 1px
    margin-bottom: 6px

.spippingPaymentDescription
    font-family: 'Roboto', sans-serif
    font-size: 12px
    line-height: 1.5
@media (max-width: 1399px)
    .spippingPaymentImg
        width: 70px
        height: 70px
        img
            width: 70px
            height: 70px
            max-width: 70px
    .spippingPaymentContent
        margin-left: 14px
@media (max-width: 1199px)
    .spippingPaymentItem
        flex-direction: column
        padding: 25px 20px 40px
        align-items: flex-start
    .spippingPaymentImg
        width: 57px
        height: 57px
        margin-bottom: 12px
        img
            width: 57px
            height: 57px
            max-width: 57px
    .spippingPaymentContent
        margin-left: 0
    .spippingPaymentTitle
        font-size: 20px
        margin-bottom: 4px
@media (max-width: 767px)
    .spippingPaymentList
        grid-column-gap: 0
        grid-row-gap: 12px
        width: 100%
        grid-template-columns: repeat(1, 1fr)
    .spippingPaymentItem
        flex-direction: row
        padding: 12px 16px 20px 14px
    .spippingPaymentImg
        width: 48px
        height: 48px
        margin-bottom: 0
        margin-top: 2px
        img
            width: 48px
            height: 48px
            max-width: 48px
    .spippingPaymentContent
        margin-left: 14px
    .spippingPaymentTitle
        font-size: 18px
