@import "/styles/modules/variables"
.information
  display: flex
  margin-left: 60px
  align-items: center

.clientInfo
  margin-right: 62px
.clientInfo:last-child
  margin-right: 0
.clientInfo .clientInfoImg
  position: relative
  width: 40px
  height: 40px
.clientInfoImg img
  width: 100%
  height: auto

.clientInfoBox
  display: flex
  align-items: flex-end
  cursor: pointer
.clientInfoBox:hover .clientInfoTitle
  color: $color-orange

.clientInfoContent
  font-family: 'Alegreya', sans-serif
  margin-right: 12px
.clientInfoTitle
  display: block
  color: $color-black
  font-size: 18px
  line-height: 1.2
  letter-spacing: 1px
  text-transform: uppercase
  transition: color .3s ease-in-out

.clientInfoDescription
  font-family: 'Roboto', sans-serif
  font-size: 12px
  font-size: 12px
  line-height: 1.2
  letter-spacing: 1px
  color: $color-gray-text

.orderCount
  position: absolute
  top: -10px
  left: 30px
  font-family: 'Roboto', sans-serif
  font-size: 11px
  color: $color-white
  width: 20px
  height: 20px
  background-color: $color-orange
  border-radius: 40px
  display: flex
  align-items: center
  justify-content: center

@media (max-width: 1399px)
  .information
    margin-left: 30px
  .clientInfo
    margin-right: 32px
  .clientInfoTitle
    font-size: 16px
  .clientInfoImg
    width: 35px
    height: 35px
    margin-right: 10px
  .orderCount
    left: 24px
@media (max-width: 1199px)
  .information
    margin-left: 0
  .clientInfo
    margin-right: 32px
  .clientInfoContent
    display: none
  .clientInfoImg
    width: 40px
    height: 40px
    margin-right: 0
  .orderCount
    left: 30px
@media (max-width: 767px)
  .clientInfo
    margin-right: 24px
  .clientInfoImg
    width: 32px
    height: 32px
  .orderCount
    top: -9px
    left: 22px