@import "/styles/modules/variables"
.cardItem
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  padding: 20px 32px 40px
  box-shadow: 0px 2px 5px 0px rgba(165, 169, 176, 0.3)
  border-radius: 5px
  transition: $transition-boxShadow
  cursor: pointer
  @media (max-width: 576px)
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start
    padding: 12px 8px 24px 12px
    border-radius: 5px
  &:hover
    box-shadow: 0 2px 10px 0 rgba(165, 169, 176, 0.50)
    transition: $transition-boxShadow
  &:hover .pizzaName
    color: $color-orange

.titleContainer
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  @media (max-width: 576px)
    width: auto
.textContainer
  .pizzaName
    font-family: 'Alegreya-ExtraBold', sans-serif
    font-size: 24px
    color: $color-black
    line-height: 1.25
    margin-bottom: 6px
    transition: $transition-color
    text-align: center
    @media (max-width: 767px)
      font-size: 20px
      margin-bottom: 2px
    @media (max-width: 576px)
      font-size: 18px
      margin-bottom: 0
      text-align: start
  .pizzaDescription
    font-family: 'Roboto', sans-serif
    color: $color-gray-text
    font-size: 12px
    line-height: 1.5
    margin-bottom: 8px
    text-align: center
    @media (max-width: 576px)
      font-size: 11px
      margin-bottom: 4px
      text-align: start
.price
  font-family: "Roboto",sans-serif
  font-size: 24px
  line-height: 1.25
  margin-bottom: 12px
  font-weight: 700
  text-align: center
  @media (max-width: 1199px)
    font-size: 20px
    line-height: 1.5
  @media (max-width: 576px)
    display: none

.orderButton
  display: inline-block
  background-color: $color-focus
  border-radius: 5px
  font-family: "Alegreya",sans-serif
  text-transform: uppercase
  font-size: 18px
  line-height: 1.2
  color: $color-white
  letter-spacing: 1px
  text-align: center
  cursor: pointer
  transition: $transition-background
  position: relative
  z-index: 1
  border: none
  padding: 14px 0
  line-height: 1.25
  width: 100%
  margin-right: 0px
  &::before
    content: ""
    position: absolute
    border-radius: 5px
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: $color-hover
    z-index: -1
    transform: scaleY(0)
    transition: transform 0.3s ease-in-out
  &:hover::before
    transform: scaleY(1)
  @media (max-width: 576px)
    display: inline-block
    font-family: "Roboto",sans-serif
    font-size: 16px
    line-height: 1.25
    color: #fff
    padding: 4px 19px
    text-transform: inherit
    font-weight: 500
    width: auto
    letter-spacing: 0px
.orderTitle
  display: inline
  @media (max-width: 576px)
    display: none
.orderPriceMobile
  display: none
  @media (max-width: 576px)
    font-family: 'Roboto', sans-serif
    display: inline
