.cartWrapper
    display: flex
    flex-direction: column
    width: 640px
    border-top: 1px solid $color-border-order
    padding-top: 8px
    @media (max-width: 767px)
        max-width: 520px
        padding-bottom: 8px
    @media (max-width: 576px)
        max-width: 320px
    &:last-child
        border-bottom: 1px solid $color-border-order
.cartContainer
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    position: relative
    @media (max-width: 576px)
        max-width: 320px
        flex-direction: column
        align-items: flex-start
.cartContent
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    @media (max-width: 576px)
        flex-wrap: wrap
        align-items: flex-start
        justify-content: flex-start

.cartImg
    display: flex
    align-items: center
    @media (max-width: 576px)
        width: 100%
        margin-bottom: 10px

.cartText
    display: flex
    flex-direction: column
    padding-left: 4px

.cartTitle
    font-family: 'Alegreya', sans-serif
    font-size: 18px
    line-height: 1.25
    margin: 0
.cartInformation
    display: flex
    align-items: center
    justify-content: space-between
    flex: 0 0 40%
    @media (max-width: 576px)
        width: 100%
        flex: 0 0 100%
        justify-content: flex-start
.cartSize
    font-family: 'Roboto', sans-serif
    font-size: 18px
.cartCounter
.cartTotalSumContainer
    display: flex
    align-items: center
    margin-right: 32px
.cartTotalSum
    font-family: 'Alegreya', sans-serif
    font-size: 24px
    line-height: 1.25
    margin: 0
.cartCurrent
    font-family: 'Alegreya', sans-serif
    font-size: 18px
    display: inline-block
    margin-left: 5px

.deleteBtn
    @include reset-button-styles
    transition: $transition-opacity
    position: absolute
    top: 4px
    right: 4px
    &:hover
        opacity: 0.7

