@import "/styles/modules/variables"
@import "/styles/modules/mixins"

.headerLogo
    display: inline-block
    cursor: pointer
    z-index: 10
    width: 182px
    height: 84px
    transition: width .3s ease-in-out, height .3s ease-in-out
    @media (max-width: 1399px)
        width: 131px
        height: 61px
    @media (max-width: 1199px)
        .headerLogo
            width: 85px
            height: 40px
            svg
                width: 85px
                height: 40px

@media (max-width: 576px)
    .headerLogoWhite
        svg
            path
                fill: $color-white
                transition: fill .3s ease-in-out

.headerLogoScroll
    width: 69px
    height: 32px
    svg
        width: 69px
        height: 32px