.buttonsCounter
    display: flex
    align-items: center
    @media (max-width: 767px)
    padding-right: 18px
    @media (max-width: 576px)
        padding-right: 18px
        padding-left: 0
.buttonCount
    @include reset-button-styles
    position: relative
    width: 24px
    height: 24px
    border-radius: 24px
    background: $color-back-counter
    transition: $transition-background
    cursor: pointer
    &:disabled
        background: $color-back-counter-disabled

    &:hover
        background: $color-orange

    img
        position: absolute
        transform: translate(-50%, -50%)
        left: 50%
        top: 50%

.inputCounter
    width: 60px
    height: 40px
    border: 1px solid $color-border-input
    border-radius: 4px
    outline: none
    background: $color-white
    text-align: center
    line-height: 112%
    margin: 0 8px
