@import "/styles/modules/variables"
.container
.social
  max-width: 1920px
  margin: 0 auto

.socialText
  display: flex
  flex-direction: column
  align-items: center
  padding: 0 16px

.socialMainTitle
  font-family: 'Alegreya', sans-serif
  font-size: 52px
  line-height: 1.25
  letter-spacing: 1px
  margin: 0
  margin-bottom: 13px
  text-align: center

.socialLink
  display: inline-block
  font-family: 'Alegreya-ExtraBold', sans-serif
  font-size: 24px
  line-height: 1.25
  color: $color-gray-text
  text-align: center
  margin-bottom: 46px
  cursor: pointer
  text-align: center
  transition: color .3s ease-in-out
  &:hover
    color: $color-orange
.socialList
  display: grid
  grid-template-columns: repeat(5, 1fr)
.socialItem
  max-width: 384px
  height: auto
  display: flex
@media (max-width: 991px)
  .socialList
      grid-template-columns: repeat(3, 1fr)
  .socialItem
    &:nth-child(n+7)
      display: none
  .socialMainTitle
    font-size: 40px
    line-height: 1.5
  .socialLink
    font-size: 20px
    line-height: 1.5
    margin-bottom: 20px
@media (max-width: 767px)
  .socialList
    grid-template-columns: repeat(2, 1fr)
  .socialItem
    &:nth-child(n+5)
      display: none
  .socialMainTitle
    font-size: 28px
    line-height: 1.25
    margin-bottom: 4px
  .socialLink
    font-size: 16px