@import 'variables'

@mixin max-content()
	max-width: max-content
	width: 100%


@mixin full-wrapper()
	margin: 0 auto
	max-width: $full-width
	min-width: $min-width
	+desktop-lg
		padding: 0 64px
	+desktop()
		padding: 0 32px
	+tablet-mobile()
		padding: 0 16px


@mixin width($width)
	max-width: $width
	width: $width

@mixin mobile
	@media (max-width: 1170px)
		@content

@mixin base-hover()
	transition: opacity .3s ease
	&:hover
		opacity: .7


@mixin gradient($color1,$color2)
	background: $color2
	background: linear-gradient(top, $color1, $color2)


@mixin rotate($rotate)
	transform: rotate($rotate+deg)


@mixin reset-button-styles
	padding: 0
	border: none
	font: inherit
	color: inherit
	background-color: transparent
	cursor: pointer

@mixin inputForm
	width: 100%
	height: 44px
	background-color: $color-white
	border: 1px solid $color-border-input
	border-radius: 4px
	cursor: pointer
	font-size: 16px
	line-height: 112%
	padding-left: 12px
	transition: $transition-border
	&:hover
		border: 1px solid $color-black
	&:focus
		outline: none
		border: 1px solid $input-focus
	&:active
		border: 2px solid $input-active
	&:disabled
		outline: none
		border: none
		background: $input-disabled
	&:invalid
		outline: none
		border-color: $input-invalid
		color: $input-invalid
	&::placeholder
		opacity: 0

@mixin labelForm
	position: absolute
	margin-left: 7px
	top: 50%
	transform: translateY(-50%)
	left: 5px
	transition: transform .3s ease-in-out
	color: #aaa
	font-size: 16px
	background-color: $color-white
@mixin btn
	position: relative
	display: inline-block
	border-radius: 5px
	color: $color-white
	letter-spacing: 1px
	text-align: center
	line-height: 1.2
	text-transform: uppercase
	cursor: pointer
	background-color: $color-default
	transition: background-color .3s ease-in-out
	outline: none
	border: none
@mixin btn-before
	content: ""
	position: absolute
	border-radius: 5px
	left: 0
	top: 0
	right: 0
	bottom: 0
	background-color: $color-hover
	z-index: -1
	transform: scaleY(0)
	transition: transform .3s ease-in-out

@mixin checkbox-custom-decoration
	content: ''
	width: 10px
	height: 10px
	background-color: $color-orange
	border-radius: 50%

@mixin input-custom
	display: flex
	align-items: center
	justify-content: center
	width: 20px
	height: 20px
	border-radius: 50%
	margin-right: 9px
	border: 1px solid $color-border-input
	transition: $transition-border
	&:hover
		border: 1px solid $color-black