@import 'tokens'

// SCREENS
$full-width: 1920
$big-desktop: 1600
$desktop-lg: 1399
$desktop: 1024
$tablet: 991
$mobile: 767
$mobile-sm: 576
$min-width: 320

//COLOR

$color-black: #000000
$color-white: #ffffff
$color-orange: #E52D2D
$color-gray: #EFF0F1
$color-gray-text: #848A9A
$color-btn-def: #82909F
$color-fill-svg: #C5CBD1
$color-spipping-payment-background: #F8F6F3
$color-menu-mobile: #313945
$color-menu-mobile-border: #313945
$color-menu-mobile-gray: #A8B0BC
$color-gray-pagination: #DFE3EB
$color-default: #E52D2D
$color-hover: #FF3C3C
$color-pressed: #BF221E
$color-focus: #E52D2D
$color-disable: #DBDBDB
$color-border-order: #DCDFE2
$color-back-counter: #C5CBD5
$color-back-counter-disabled: #EEF0F3
$color-border-input: #C4C7CA
$color-label: #A6A6A6
$color-input-disabled-back: #EEF0F3
$color-input-disabled: #747474
$input-focus: #3F8FE5
$input-active: #8FC9FF
$input-disabled: #EEF0F3
$input-invalid: #FB7A7A
$radio-disabled-border: #B2B2B2
$radio-disabled-color: #F1F1F1
$radio-checked: #363D44


// FONTS
$system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font: var(--font-montserrat)

//ANIMATION
$transition-background: background-color .3s ease-in-out
$transition-boxShadow: box-shadow .3s ease-in-out
$transition-color: color .3s ease-in-out
$transition-pizza: width .3s ease-in-out, height .3s ease-in-out
$transition-opacity: opacity .3s ease-in-out
$transition-border: border .3s ease-in-out

.container
  max-width: 1352px
  padding: 0px 20px
  margin: 0 auto
  width: 100%
  box-sizing: border-box
@media (max-width: 1199px)
  .container
    padding: 0px 31px

@media (max-width: 767px)
  .container
    padding: 0px 16px


@media (max-width: 576px)
  .container
    padding: 0px 16px


