@import "/styles/modules/variables"

.footer
  background-color: $color-black
.container

.footerContent
  display: flex
  justify-content: space-between
  align-items: center
  padding: 32px 0 36px
  @media (max-width: 1199px)
    padding: 29px 0 30px
  @media (max-width: 767px)
    padding: 24px 0 40px
    flex-direction: column

.footerInfo
  display: flex
  align-items: center
  @media (max-width: 767px)
    flex-direction: column

.footerLogo
  width: 112px
  height: 52px
  margin-right: 100px
  transition: opacity .3s ease-in-out
  &:hover
    opacity: .7
  @media (max-width: 1199px)
    width: 90px
    height: 41px
    margin-right: 81px
  @media (max-width: 767px)
    width: 79px
    height: 36px
    margin-right: 0
    margin-bottom: 26px
.footerContacts
  display: flex
  flex-direction: column
  @media (max-width: 767px)
    align-items: center
    margin-bottom: 10px


.footerPhone
  margin-bottom: 6px
  a
    color: $color-white
    font-family: 'Alegreya-ExtraBold', sans-serif
    font-size: 24px
    line-height: 1.25
    letter-spacing: 1px
    text-transform: uppercase
    transition: color .3s ease-in-out
    @media (max-width: 1199px)
      line-height: 1.4
    &:hover
      color: $color-orange
  @media (max-width: 1199px)
    margin-bottom: 3px

.footerShedule
  color: $color-white
  font-family: 'Roboto', sans-serif
  font-size: 12px
  line-height: 1.5

.footerPolitics
  a
    color: $color-white
    font-family: 'Roboto', sans-serif
    font-size: 12px
    line-height: 1.5
    transition: color .3s ease-in-out
    &:hover
      color: $color-orange
