@import "/styles/modules/variables"
.slideContainer
  display: flex
  flex-direction: column
  cursor: pointer
  width: 100%
  @media (max-width: 767px)
    margin-bottom: 26px

.slideImage
  width: 100%
  display: flex
  margin-bottom: 12px
  border-radius: 5px
  @media (max-width: 1199px)
    margin-bottom: 13px


.slideTitle
  font-family: 'Alegreya-ExtraBold', sans-serif
  font-size: 24px
  line-height: 1.25
  margin: 0
  margin-bottom: 14px
  @media (max-width: 1199px)
    font-size: 20px
    margin-bottom: 8px

.slideDescription
  font-family: 'Roboto', sans-serif
  font-size: 14px
  line-height: 1.5