@import "/styles/modules/variables"
.container
.spippingPayment
  background-color: $color-spipping-payment-background
  padding: 72px 0 80px
  display: flex
  flex-direction: column

.spippingPaymentMainTitle
  font-family: 'Alegreya', sans-serif
  font-size: 52px
  line-height: 1.25
  letter-spacing: 1px
  margin: 0
  margin-bottom: 26px
  text-align: center
  @media (max-width: 991px)
    font-size: 40px
    margin-bottom: 20px
  @media (max-width: 767px)
    font-size: 28px
    margin-bottom: 12px

@media (max-width: 1199px)
    .spippingPayment
      padding: 40px 0 60px
@media (max-width: 767px)
  .spippingPayment
    padding: 24px 0 40px
