@import 'modules/variables'

html, body
  height: 100%

body
  font-weight: normal
  font-style: normal
  margin: 0

body.lock
  overflow: hidden

ul
  padding-left: 0
  margin: 0


li
  list-style-type: none


a
  text-decoration: none


img
  max-width: 100%
  height: auto

.wrapper
  background-color: $color-white
  width: 100%
  min-height: 100%
  display: flex
  flex-direction: column
  box-sizing: border-box

.wrapper.smoothed
  transition: padding-top 200ms ease 0s

.main
  flex: 1 1 auto

