@import "/styles/modules/variables"
@import "/styles/modules/mixins"

.formContainer
    width: 100%
.formTitle
    font-family: 'Alegreya', sans-serif
    font-size: 18px
    line-height: 1.25
    margin: 0
    margin-bottom: 12px
.formInputs
    margin-bottom: 32px
.formInputsGroup
    display: flex
    margin-bottom: 24px
    box-sizing: border-box
    @media (max-width: 576px)
        flex-direction: column
    .formInput
        width: 50%
        margin-right: 32px
        @media (max-width: 576px)
            width: 100%
            margin-right: 0
            margin-bottom: 24px
        &:last-child
            margin-right: 0
.formInput
    position: relative
    &:last-child
        margin-bottom: 0
.inputError
.input
    +inputForm
.placeholder
    +labelForm
.input:disabled + label
    background-color: $color-input-disabled-back
    color: $color-input-disabled
.input:focus + .placeholder,
.input:not(:placeholder-shown) + .placeholder
    transform: translateY(-200%)
    font-size: 13px
    padding-left: 4px
    padding-right: 4px
.errorMessage
    position: absolute
    font-size: 13px
    line-height: 20px
    font-weight: 400
    color: $input-invalid

.formPayment
.formPaymentTitle
    font-family: 'Alegreya', sans-serif
    font-size: 18px
    line-height: 1.25
    margin: 0
    margin-bottom: 12px
.formRadioInputs
    display: flex
    flex-direction: column
    margin-bottom: 32px
.formRadioInput
    display: flex
    align-items: center
    margin-bottom: 15px
    &:last-child
        margin-bottom: 0
.formRadioButton
    position: absolute
    width: 20px
    height: 20px
    opacity: 0
    $transition-border: border .3s ease-in-out
    &:checked + .formCustomInput
        border: 2px solid $radio-checked
        &::before
            +checkbox-custom-decoration

.formCustomInput
    +input-custom

.formRadioButton:disabled + .formCustomInput
    border-color: $radio-disabled-border
    background-color: $radio-disabled-color

.formRadioInputLabel
    font-family: 'Roboto', sans-serif
    font-size: 16px
    line-height: 1.25
    cursor: pointer
    color: $color-black
.formBtn
    padding: 15px 33px
    font-family: 'Alegreya', sans-serif
    font-size: 18px
    z-index: 1
    margin-bottom: 23px
    +btn

.formBtn::before
    +btn-before
.formBtn:hover::before
    transform: scaleY(1)
.formDisclaimer
    font-family: 'Roboto', sans-serif
    font-size: 12px
    line-height: 1.5
    color: $color-gray-text