@import "/styles/modules/variables"
.pizzaSize
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 12px
  @media (max-width: 576px)
    align-items: flex-start
.pizzaTitleSize
  font-family: 'Roboto', sans-serif
  font-size: 12px
  line-height: 1.5
  margin-bottom: 6px
.pizzaBtnsSize
  display: flex
  justify-content: space-between
  align-items: center
  padding: 2px
  border: none
  border-radius: 4px
  background-color: $color-gray
.pizzaBtn
  padding: 5px 23px
  border: none
  border-radius: 2px
  font-family: 'Roboto', sans-serif
  font-size: 12px
  line-height: 1.5
  cursor: pointer
  transition: color .3s ease-in-out
  background-color: $color-gray
  color: $color-btn-def
  @media (max-width: 576px)
    padding: 5px 20px
.buttonActive
  background-color: $color-white
  color: $color-black
  border-radius: 4px